---
import { Trans } from "astro-i18next/components";
import { changeLanguage, t } from "i18next";
import { Picture } from "@astrojs/image/components";
import Master from "../../layouts/Master.astro";
import Image from "../../components/Image.astro";
import Summary from "../../components/Summary.astro";
import TextImage from "../../components/TextImage.astro";
import Mockups from "../../components/Mockups.astro";
import architecturepreview from "../../assets/architecturepreview-croped.png";
import shapespace1 from "../../assets/shapespace1.png";
import shapespace2 from "../../assets/shapespace2.png";
import shapespace3 from "../../assets/shapespace3.png";
import Personas_SS_1 from "../../assets/Personas_SS_1.png";
import Personas_SS_2 from "../../assets/Personas_SS_2.png";
import Personas_SS_3 from "../../assets/Personas_SS_3.png";
import dezeen from "../../assets/dezeen.png";
import designboom from "../../assets/designboom.png";
import ignant from "../../assets/ignant.png";
import sitemap_ShapeSpace from "../../assets/sitemap_ShapeSpace.png";

changeLanguage("da");

const title = "Shapespace";
const description = t("shapespace.description");
const subTitle = t("shapespace.title");
const image = {
    url: "/assets/architecturepreview.png",
    alt: "Shapespace is a UI design concept proposal for an architecture blog website",
};
---

<Master title={title} description={description} image={image}>
  <header class="container pt-24">
    <h1 class="font-serif text-4xl lg:text-5xl text-center">{title}</h1>
    <p class="text-lg lg:text-xl font-bold text-center">
      {subTitle}
    </p>
    <div class="my-4 lg:my-6">
      <Picture
        src={architecturepreview}
        alt="mockups of the shapespace design"
        widths={[200, 400, 800, 1200, 1400]}
        sizes="((min-width: 50em) and (max-width: 60em)) 50em, ((min-width: 30em) and (max-width: 50em)) 30em, (max-width: 30em) 20em"
        loading="eager"
        formats={["avif", "webp", "jpg"]}
        quality={85}
        class="w-full"
        fit="contain"
        aspectRatio={undefined}
      />
    </div>
  </header>
  <Summary
    duration={t("shapespace.summary.duration")}
    objectives={t("shapespace.summary.objectives")}
    team={t("shapespace.summary.team")}
    tools={t("shapespace.summary.tools")}
    prototypeLink={"https://www.figma.com/proto/uz3kHCO2nvDGo1oTbb5WKF/Architecture-Blog?page-id=64%3A1168&node-id=255-2829&viewport=-414%2C904%2C0.06&scaling=min-zoom&starting-point-node-id=255%3A2829"}
  >
    <h2>{t("shapespace.projectOverviewTitle")}</h2>
    <p>{t("shapespace.projectOverviewText")}</p>
    <h3>{t("shapespace.goalsTitle")}</h3>
    <Trans i18nKey={"shapespace.goalsText"}>
      <ul class="list-disc">
        <li>
          To display blog posts prominently on the homepage, making it easy for
          users to discover new content
        </li>
        <li>
          To organize the content in an intuitive way to make it easy to
          navigate
        </li>
      </ul>
    </Trans>
  </Summary>
  <Mockups
    images={[
      { src: shapespace1, alt: "Shapespace desktop mockup" },
      { src: shapespace2, alt: "Shapespace desktop mockup" },
      { src: shapespace3, alt: "Shapespace desktop mockup" },
    ]}
  />
  <section class="container">
    <header class="mt-14">
      <h2 class="text-xl md:text-2xl lg:text-5xl font-bold text-secondary-400">
        {t("cases.research")}
      </h2>
    </header>
    <article class="prose lg:prose-xl max-w-none">
      <header><h2>{t("cases.introduction")}</h2></header>
      <p>{t("shapespace.research.introductionText")}</p>
      <h3>{t("shapespace.research.goalsHeading")}</h3>
      <ul class="list-disc">
        <Trans i18nKey={"shapespace.research.goalsText"}>
          <li>
            To gain an understanding of the architectural blog culture and what
            motivates people to read blog articles on architecture
          </li>
          <li>To identify the target audience and their preferences</li>
          <li>
            To learn about the main competitors and how they are accommodating
            the user's needs, together with their strengths and weaknesses
          </li>
          <li>
            To understand what features are necessary by understanding user’s
            behavior and preferences regarding an architectural blog website
          </li>
        </Trans>
      </ul>
    </article>
    <article class="prose lg:prose-xl max-w-none">
      <header><h2>{t("cases.competitorAnalysis")}</h2></header>
      <h3>{t("shapespace.research.competitorsSubtitle")}</h3>
      <p>{t("shapespace.research.competitorsText")}</p>
    </article>
    <TextImage
      title="Dezeen"
      src={dezeen}
      alt="Dezeen website screenshots"
      reverse={true}
    >
      <p>{t("shapespace.research.competitors.dezeen.introduction")}</p>
      <p class="font-bold">{t("cases.strengths")}</p>
      <ul>
        <Trans i18nKey={"shapespace.research.competitors.dezeen.strengths"}>
          <li>
            <b>Engaging content:</b> The articles on Dezeen are well-written and
            informative, with a good mix of news, features, and opinion pieces. This
            makes it an engaging and interesting read for anyone interested in architecture
            and design.
          </li>
          <li>
            <b>Visual content:</b> The website has a large amount of visual content,
            including high-quality images and videos, which makes it easy to browse
            and engage with.
          </li>
          <li>
            <b>Sleek design:</b> The UI of the Dezeen website is visually appealing
            and has a modern, sleek design that reflects the website's focus on design
            and aesthetics.
          </li>
          <li>
            <b> User-generated content:</b> Dezeen allows users to submit their own
            projects and ideas, which encourages participation and engagement and
            adds to the website's overall content diversity.
          </li>
        </Trans>
      </ul>
      <p class="font-bold">{t("cases.weaknesses")}</p>
      <ul>
        <Trans i18nKey={"shapespace.research.competitors.dezeen.weaknesses"}>
          <li>
            <b> Limited search options:</b> The search function on the website is
            basic and doesn't always produce accurate results, which can make it
            difficult for users to find specific content.
          </li>
          <li>
            <b> Inconsistent layout:</b> The layout of the website can vary from
            page to page, which can be confusing for users and make it harder to
            navigate.
          </li>
          <li>
            <b> Cluttered homepage:</b> While the website's homepage has a lot of
            content, it can sometimes feel cluttered and overwhelming, which can
            make it difficult for users to find what they're looking for.
          </li>
        </Trans>
      </ul>
    </TextImage>
    <TextImage
      title="designboom"
      src={designboom}
      alt="Designboom website screenshots"
    >
      <p>{t("shapespace.research.competitors.designBoom.introduction")}</p>
      <p class="font-bold">{t("cases.strengths")}</p>
      <ul>
        <Trans i18nKey={"shapespace.research.competitors.designBoom.strengths"}>
          <li>
            <b>Strong visual identity:</b> Designboom has a strong visual identity
            that is consistent throughout the website. The use of color, typography,
            and imagery creates a cohesive and memorable design that is easily recognizable.
          </li>
          <li>
            <b>Interactive and engaging content:</b> website features a range of
            interactive and engaging content, such as videos, animations, and interactive
            features. This helps to create a more dynamic and interesting user experience.
          </li>
          <li>
            <b>Clear calls-to-action:</b> Designboom's website features clear calls-to-action,
            which make it easier for users to complete tasks and engage with the
            website's content. Buttons, links, and other elements are clearly labeled
            and easy to understand.
          </li>
          <li>
            <b> Consistent layout:</b> Designboom's website uses a consistent layout
            throughout, which makes it easier for users to navigate and understand
            the content. The placement of menus, links, and other elements is consistent
            across pages, which reduces confusion and makes it easier for users to
            find what they're looking for
          </li>
        </Trans>
      </ul>
      <p class="font-bold">{t("cases.weaknesses")}</p>
      <ul>
        <Trans
          i18nKey={"shapespace.research.competitors.designBoom.weaknesses"}
        >
          <li>
            <b>Limited use of visual aids:</b> While Designboom's website does feature
            some visual aids such as images and videos, it could benefit from the
            use of more icons, infographics, and other visual aids to help break
            up large blocks of text and make information easier to understand.
          </li>
          <li>
            <b>Lack of contrast</b> Some pages on Designboom's website can lack contrast,
            which can make it more difficult for users to read and understand the
            content. For example, text that is displayed on top of an image may be
            difficult to read if the colors are not sufficiently contrasting.
          </li>
          <li>
            <b> Limited use of animation:</b> While Designboom's website does feature
            some animations and interactive elements, it could benefit from the use
            of more animations and other dynamic elements. This would help to create
            a more engaging and interesting user experience.
          </li>
        </Trans>
      </ul>
    </TextImage>
    <TextImage
      title="Ignant"
      src={ignant}
      alt="Ignant website screenshots"
      reverse={true}
    >
      <p>{t("shapespace.research.competitors.ignant.introduction")}</p>
      <p class="font-bold">{t("cases.strengths")}</p>
      <ul>
        <Trans i18nKey={"shapespace.research.competitors.ignant.strengths"}>
          <li>
            <b>Creative and visually appealing:</b> Ignant's use of creative and
            visually appealing layouts and typography is another strength. The website's
            design is unique and interesting, and the typography is well-chosen and
            easy to read. This helps to create a positive user experience and a sense
            of brand identity.
          </li>
          <li>
            <b>Consistent branding:</b> Design language and branding is consistent
            across their website and social media channels. This creates a cohesive
            brand identity that is easy to recognize and reinforces their position
            as an authority in the architecture and design industry.
          </li>
          <li>
            <b>Effective use of white space:</b> This website makes effective use
            of white space, which helps to create a clean and organized visual aesthetic.
            This is important because it makes the content easier to read and navigate,
            and can help to reduce user fatigue. Additionally, the use of white space
            can draw attention to important elements on the page and make them stand
            out.
          </li>
          <li>
            <b> Engaging storytelling:</b> Editorial content features engaging storytelling
            that draws users in and keeps them interested. This is important because
            it helps to keep users on the website longer and encourages them to come
            back for more content.
          </li>
        </Trans>
      </ul>
      <p class="font-bold">{t("cases.weaknesses")}</p>
      <ul>
        <Trans i18nKey={"shapespace.research.competitors.ignant.weaknesses"}>
          <li>
            <b>Lack of interactivity and animation:</b> While Ignant's website has
            a visually appealing design, it lacks interactivity and animation. This
            can make the website feel static and unengaging for users, particularly
            those who are used to more interactive or animated websites.
          </li>
          <li>
            <b>Slow loading times:</b> Ignant's website can sometimes have slow loading
            times, particularly for larger images or videos. This can be frustrating
            for users and can negatively impact the user experience.
          </li>
          <li>
            <b> Inconsistent use of color and hierarchy:</b> Ignant's website has
            a visually appealing color scheme, the colors are not always used consistently
            throughout the website. This can make it more difficult for users to
            understand the website's hierarchy and navigate to important pages or
            actions.
          </li>
        </Trans>
      </ul>
    </TextImage>
    <article class="prose lg:prose-xl max-w-none">
      <header><h2>{t("cases.userPersonas")}</h2></header>
      <h3>{t("shapespace.research.userPersonas.subTitle")}</h3>
      <p>{t("shapespace.research.userPersonas.text")}</p>
      <Image src={Personas_SS_1} alt="Persona Sarah of the shapespace design" />
      <Image src={Personas_SS_2} alt="Persona David of the shapespace design" />
      <Image src={Personas_SS_3} alt="Persona Maria of the shapespace design" />
    </article>
    <article class="prose lg:prose-xl max-w-none">
      <header><h2>{t("cases.siteMap")}</h2></header>
      <h3>{t("shapespace.research.siteMap.title")}</h3>
      <p>{t("shapespace.research.siteMap.text")}</p>
      <Image src={sitemap_ShapeSpace} alt="Sitemap of the shapespace design" />
    </article>
  </section>
  <section class="container">
    <header class="mt-14">
      <h2 class="text-xl md:text-2xl lg:text-5xl font-bold text-secondary-400">
        Protyping coming soon
      </h2>
    </header>
    <!-- <article class="prose lg:prose-xl max-w-none">
      <header><h2>Introduction</h2></header>
      <p>
        As part of the architectural blog website UI design project, the
        prototyping phase involved amongst other processes, creating wireframes
        and low and high-fidelity interactive prototypes of the website. The
        primary objective was to create a prototype that accurately reflected
        the final product and allowed testing of user interactions and gathering
        feedback before finalisation. To achieve this, I used Figma to create a
        clickable prototype that included all the key features and functionality
        of the website. By creating these prototypes, I was able to ensure that
        the final product met the needs and expectations of the target audience,
        which included architects, architecture students, and design
        professionals. The prototypes were crucial in refining the design and
        improving user experience before moving on to the final stage.
      </p>
      <h3>Prototyping goals</h3>
      <ul>
        <li>
          To create a testable prototype that allows for user feedback and
          iteration
        </li>
        <li>
          To simulate user interactions and identify potential usability issues
        </li>
        <li>
          To refine and iterate on design solutions based on user feedback and
          testing
        </li>
        <li>
          To ensure that the final product meets user needs and expectations
          through user testing and feedback
        </li>
      </ul>
    </article> -->
  </section>
</Master>
