---
import { Trans } from "astro-i18next/components";
import { t, changeLanguage } from "i18next";
import { Picture } from "@astrojs/image/components";
import Master from "../../layouts/Master.astro";
import Image from "../../components/Image.astro";
import Mockups from "../../components/Mockups.astro";
import Summary from "../../components/Summary.astro";
import TextImage from "../../components/TextImage.astro";
import persona1 from "../../assets/persona1.png";
import persona2 from "../../assets/persona2.png";
import persona3 from "../../assets/persona3.png";
import coachella from "../../assets/coachella.png";
import tomorrowland from "../../assets/tomorrowland.png";
import sziget from "../../assets/sziget.png";
import shockwave1 from "../../assets/shockwave1.png";
import shockwave2 from "../../assets/shockwave2.png";
import shockwave3 from "../../assets/shockwave3.png";
import heroimage from "../../assets/Shockwavepreview.png";
import sitemap from "../../assets/sitemap.png";
import wireframe_sketches1 from "../../assets/wireframe_sketches1.png";
import wireframe_sketches2 from "../../assets/wireframe_sketches2.png";
import lofi_prototypes from "../../assets/lofi_prototypes.png";
import taskflow1 from "../../assets/taskflow1.png";
import taskflow2 from "../../assets/taskflow2.png";
import taskflow3 from "../../assets/taskflow3.png";
import taskflow4 from "../../assets/taskflow4.png";
import taskflow5 from "../../assets/taskflow5.png";
import taskflow6 from "../../assets/taskflow6.png";
import reponsive_wireframes from "../../assets/reponsive_wireframes.png";
import lofi_final from "../../assets/lofi_final.png";
import design_system from "../../assets/design_system.png";
import final_mockup from "../../assets/final_mockup.jpg";

changeLanguage("da");

const title = "Shockwave";
const description = t("shockwave.description");
const subTitle = t("shockwave.title");
const image = {
    url: "/assets/ogshockwavepage.png",
    alt: "Shockwave is a design concept proposal for a pop and rock music festival",
};
---

<Master title={title} description={description} image={image}>
  <header class="container pt-24">
    <h1 class="font-serif text-4xl lg:text-5xl text-center">{title}</h1>
    <p class="text-lg lg:text-xl font-bold text-center">
      {subTitle}
    </p>
    <div class="my-4 lg:my-6">
      <Picture
        src={heroimage}
        alt="mockups of the shockwave design"
        widths={[200, 400, 800, 1200, 1400]}
        sizes="((min-width: 50em) and (max-width: 60em)) 50em, ((min-width: 30em) and (max-width: 50em)) 30em, (max-width: 30em) 20em"
        loading="eager"
        formats={["avif", "webp", "jpg"]}
        quality={85}
        class="w-full"
        aspectRatio={undefined}
        fit="contain"
      />
    </div>
  </header>
  <Summary
    duration={t("shockwave.summary.duration")}
    objectives={t("shockwave.summary.objectives")}
    team={t("shockwave.summary.team")}
    tools={t("shockwave.summary.tools")}
    prototypeLink={"https://www.figma.com/proto/QGkzm1MQaXM9JkYubpEREo/Music-Festival?page-id=1%3A3&node-id=231-1049&viewport=-176%2C689%2C0.07&scaling=min-zoom&starting-point-node-id=231%3A1049"}
  >
    <h2>{t("shockwave.projectOverviewTitle")}</h2>
    <p>{t("shockwave.projectOverviewText")}</p>
    <h3>{t("shockwave.goalsTitle")}</h3>
    <Trans i18nKey={"shockwave.goalsText"}>
      <ul class="list-disc">
        <li>To make design responsive for various devices</li>
        <li>
          To create a user-friendly and visually appealing user interface for a
          festival website that showcases the event schedule, performers, and
          ticket information
        </li>
      </ul>
    </Trans>
  </Summary>
  <Mockups
    images={[
      { src: shockwave1, alt: "shockwave laptop mockup" },
      { src: shockwave2, alt: "shockwave tablet mockup" },
      { src: shockwave3, alt: "shockwave phone mockup" },
    ]}
  />
  <section class="container">
    <header class="mt-14">
      <h2 class="text-xl md:text-2xl lg:text-5xl font-bold text-secondary-400">
        {t("cases.research")}
      </h2>
    </header>
    <article class="prose lg:prose-xl max-w-none">
      <header><h2>{t("cases.introduction")}</h2></header>
      <p>
        {t("shockwave.research.introductionText")}
      </p>
      <h3>{t("shockwave.research.goalsHeading")}</h3>
      <ul class="list-disc">
        <Trans i18nKey={"shockwave.research.goalsText"}>
          <li>
            To understand the music culture and what leads people to attend
            festival
          </li>
          <li>To identify the target audience</li>
          <li>
            To learn about the main competitors and how these are accommodating
            user’s needs, together with their strengths and weaknesses
          </li>
          <li>
            To understand what features are necessary by understanding user’s
            behavior
          </li>
        </Trans>
      </ul>
    </article>
    <article class="prose lg:prose-xl max-w-none">
      <header><h2>{t("cases.competitorAnalysis")}</h2></header>
      <h3>{t("shockwave.research.competitorsSubtitle")}</h3>
      <p>{t("shockwave.research.competitorsText")}</p>
      <TextImage
        title={t("shockwave.research.competitors.coachella.title")}
        src={coachella}
        alt="Coachella website screenshots!"
      >
        <p class="font-bold">{t("cases.strengths")}</p>
        <ul>
          <Trans i18nKey={"shockwave.research.competitors.coachella.strengths"}>
            <li>Visually appealing design</li>
            <li>Clear and easy-to-use navigation</li>
            <li>Responsive layout for different devices</li>
            <li>Interactive features such as the lineup and schedule</li>
            <li>Integration with social media platforms</li>
          </Trans>
        </ul>
        <p class="font-bold">{t("cases.weaknesses")}</p>
        <ul>
          <Trans
            i18nKey={"shockwave.research.competitors.coachella.weaknesses"}
          >
            <li>Some pages are cluttered and difficult to navigate</li>
            <li>
              The ticket purchasing process can be confusing for some users
            </li>
            <li>
              The website has a lot of promotional content that can detract from
              the user experience
            </li>
            <li>
              Some users may find the website's font size too small and
              difficult to read
            </li>
          </Trans>
        </ul>
      </TextImage>
      <TextImage
        title={t("shockwave.research.competitors.tomorrowland.title")}
        src={tomorrowland}
        alt="Tomorrowland website screenshots"
        reverse={true}
      >
        <p class="font-bold">{t("cases.strengths")}</p>
        <ul>
          <Trans
            i18nKey={"shockwave.research.competitors.tomorrowland.strengths"}
          >
            <li>
              High-quality images that create a visually striking and engaging
              experience
            </li>
            <li>Clear and consistent navigation throughout the site</li>
            <li>
              Effective use of whitespace and typography that enhances
              readability
            </li>
            <li>
              Integration of interactive features such as video backgrounds,
              animations
            </li>
          </Trans>
        </ul>
        <p class="font-bold">{t("cases.weaknesses")}</p>
        <ul>
          <Trans
            i18nKey={"shockwave.research.competitors.tomorrowland.weaknesses"}
          >
            <li>Overuse of animations and effects</li>
            <li>
              Inconsistent visual design elements and typography, which can make
              the website feel cluttered and confusing
            </li>
            <li>Lack of clear hierarchy in the content</li>
          </Trans>
        </ul>
      </TextImage>
      <TextImage
        title={t("shockwave.research.competitors.sziget.title")}
        src={sziget}
        alt="Sziget website screenshots"
      >
        <p class="font-bold">{t("cases.strengths")}</p>
        <ul>
          <Trans i18nKey={"shockwave.research.competitors.sziget.strengths"}>
            <li>
              Effective use of visuals to convey the festival's atmosphere and
              vibe
            </li>
            <li>Integration with social media platforms</li>
            <li>Multilingual support for a global audience</li>
            <li>
              User-generated content, such as photos or videos, that showcase
              the festival and engage users
            </li>
            <li>Prominent search bar</li>
          </Trans>
        </ul>
        <p class="font-bold">{t("cases.weaknesses")}</p>
        <ul>
          <Trans i18nKey={"shockwave.research.competitors.sziget.weaknesses"}>
            <li>
              Pages are cluttered with too much information, making it difficult
              to navigate
            </li>
            <li>
              The website can be slow to load, especially during peak traffic
              times
            </li>
            <li>
              The ticket purchasing process can be confusing or difficult to
              navigate
            </li>
          </Trans>
        </ul>
      </TextImage>
    </article>
    <article class="prose lg:prose-xl max-w-none">
      <header><h2>{t("cases.userPersonas")}</h2></header>
      <h3>{t("shockwave.research.userPersonas.subTitle")}</h3>
      <p>{t("shockwave.research.userPersonas.text")}</p>
      <Image src={persona1} alt="User persona nr1" />
      <Image src={persona2} alt="User persona nr2" />
      <Image src={persona3} alt="User persona nr3" />
    </article>
    <article class="prose lg:prose-xl max-w-none">
      <header><h2>{t("cases.siteMap")}</h2></header>
      <h3>{t("shockwave.research.siteMap.title")}</h3>
      <p>{t("shockwave.research.siteMap.text")}</p>
      <Image src={sitemap} alt="Sitemap of Shockwave website" />
    </article>
    <article class="prose lg:prose-xl max-w-none">
      <header><h2>{t("cases.taskFlow")}</h2></header>
      <h3>{t("shockwave.research.taskFlow.subTitle")}</h3>
      <p>{t("shockwave.research.taskFlow.text")}</p>
      <div class="flex flex-wrap lg:flex-nowrap gap-6">
        <div
          class="prose lg:prose-xl shadow-lg p-6 rounded w-full max-w-none lg:max-w-1/2 shrink"
        >
          <h2>{t("shockwave.research.taskFlow.lisa.title")}</h2>
          <Trans i18nKey={"shockwave.research.taskFlow.lisa.text"}>
            <ol class="list-decimal">
              <li>Lisa arrives at ‘Home’ page</li>
              <li>
                Lisa scrolls down the page to find information about dates and
                lineup.
              </li>
              <li>
                After checking lineup section at home page, Lisa click on ‘See
                more’ button which leads Lisa to ‘Artists’ page where are more
                details about schedule, as well as details on performers.
              </li>
              <li>
                Lisa searches and selects the desired artist and based on
                performance schedule decide how many days they wish to attend.
              </li>
              <li>
                After deciding on which performer and date is desired, user
                looks for ticket offers.
              </li>
              <li>
                After choosing specific ticket offer, Lisa can click on ‘More
                info’ button to get to the page with more detailed description
                of specific ticket offer. She can also click on ‘Buy ticket’
                button, which would be the last step the process.
              </li>
              <li>
                In case Lisa clicks on ‘More info’ button she has option to
                switch/ check other offers.
              </li>
              <li>
                In case Lisa clicks on ‘More info’ button she has option to
                switch/ check other offers.
              </li>
              <li>Lisa secures the desired tickets.</li>
            </ol>
            <p>
              Lisa is familiar with festival and attended before therefore she
              have no need to check out page with practical information or about
              page.
            </p>
          </Trans>
        </div>
        <div
          class="prose lg:prose-xl shadow-lg p-6 rounded w-full max-w-none lg:max-w-1/2 shrink"
        >
          <h2>{t("shockwave.research.taskFlow.alex.title")}</h2>
          <Trans i18nKey={"shockwave.research.taskFlow.alex.text"}>
            <ol class="list-decimal">
              <li>
                Alex arrives at the festival website and clicks on the "About"
                section in the navigation bar to learn more about the event.
              </li>
              <li>
                After reading about the festival's history, mission, values, and
                testimonials, Alex feels comfortable with attending and decides
                to explore the lineup of artists.
              </li>
              <li>
                Alex then moves to the "Artists" page to view the festival's
                performers and schedule in more detail.
              </li>
              <li>
                Upon finding a desired artist, Alex clicks on their name to view
                their bio, photos, and performance schedule, and can also listen
                to a song or visit the artist's socials.
              </li>
              <li>
                Once Alex has made a decision on which performances to attend,
                they proceed to check out ticket options.
              </li>
              <li>
                After selecting a ticket, Alex is directed to a specific ticket
                page where they can securely enter payment and contact
                information.
              </li>
              <li>
                Finally, Alex moves to the "Info" page to view important
                information such as transportation or rules to be able to plan
                the trip related to event most efficiently.
              </li>
            </ol>
            <p>
              Alex needs more information to became comfortable with purchasing
              ticket than Lisa, therefore he explores website more in depth than
              her.
            </p>
          </Trans>
        </div>
      </div>
    </article>
  </section>
  <section class="container">
    <header class="mt-14">
      <h2 class="text-xl md:text-2xl lg:text-5xl font-bold text-secondary-400">
        {t("cases.prototyping")}
      </h2>
    </header>
    <article class="prose lg:prose-xl max-w-none">
      <header><h2>{t("cases.introduction")}</h2></header>
      <p>{t("shockwave.prototyping.introductionText")}</p>
      <h3>{t("shockwave.prototyping.goalsTitle")}</h3>
      <Trans i18nKey={"shockwave.prototyping.goals"}>
        <ul>
          <li>
            To create a high-fidelity representation of the final product to
            simulate real-world usage and interactions
          </li>
          <li>To identify and address usability issues and gather feedback</li>
          <li>To refine and iterate on design solutions based on feedback</li>
          <li>
            To save time and resources by identifying and addressing design
            problems early in the process
          </li>
        </ul>
      </Trans>
    </article>
    <article class="prose lg:prose-xl max-w-none">
      <header><h2>{t("cases.wireframeSketches")}</h2></header>
      <h3>{t("shockwave.prototyping.wireframes.subTitle")}</h3>
      <p>{t("shockwave.prototyping.wireframes.text")}</p>
      <Image
        src={wireframe_sketches1}
        alt="Wireframe sketches of Shockwave nr1"
      />
      <Image
        src={wireframe_sketches2}
        alt="Wireframe sketches of Shockwave nr2"
      />
    </article>
    <article class="prose lg:prose-xl max-w-none">
      <header>
        <h2>{t("cases.lowFidelityPrototypes")}</h2>
      </header>
      <h3>{t("shockwave.prototyping.lowFidelityPrototypes.subTitle")}</h3>
      <p>{t("shockwave.prototyping.lowFidelityPrototypes.text")}</p>
      <Image
        src={lofi_prototypes}
        alt="Low Fidelity prototypes of Shockwave website"
      />
    </article>
    <article class="prose lg:prose-xl max-w-none">
      <header><h2>{t("cases.taskFlowWireframes")}</h2></header>
      <h3>{t("shockwave.prototyping.taskFlowWireframes.subTitle")}</h3>
      <p>{t("shockwave.prototyping.taskFlowWireframes.text")}</p>
    </article>
    <div class="flex flex-col gap-6">
      <TextImage
        title={t("shockwave.prototyping.taskFlowWireframes.lisa.title")}
        src={taskflow1}
        alt="Taskflow - familiar user"
        reverse={true}
      >
        <Trans i18nKey={"shockwave.prototyping.taskFlowWireframes.lisa.text1"}>
          <ol>
            <li>
              Lisa arrives at ‘Home’ page. ‘Hero’ sections provides fast
              overview of date and place of event.
            </li>
            <li>
              Lisa scrolls down the page to find section with ‘Top artists’ that
              are performing
            </li>
            <li>
              Lisa click on ‘See more’ button which leads Lisa to ‘Artists’ page
              where are more details about schedule, as well as details on
              performers.
            </li>
          </ol>
        </Trans>
      </TextImage>
      <TextImage
        title=" "
        src={taskflow2}
        alt="Taskflow - familiar user continued"
        reverse={true}
      >
        <Trans i18nKey={"shockwave.prototyping.taskFlowWireframes.lisa.text2"}>
          <ol start="4">
            <li>
              Lisa finds desired artist in the lineup and clicks on the image
              which opens the overlay
            </li>
            <li>
              This overlay provides more detailed information about selected
              artist, such as bio, social media links, music player and also
              date and time of performance for easy access.
            </li>
            <li>
              Once preferred artist and dates are selected Lisa proceeds to
              section with ticket offers.
            </li>
            <li>
              Detailed schedule broken down to days, times and stages provides
              easy overview of each festival day.
            </li>
            <li>
              Once Lisa has preferred artists and days selected she moves to
              next section with ticket offers.
            </li>
            <li>
              After scanning through offers and picking the most interesting
              one, Lisa then clicks on ‘Buy ticket’ button and proceed to finish
              her process by purchasing the ticket.
            </li>
          </ol>
          <p>
            Familiar user like Lisa will not visit every page of the website
            since she has previous knowledge about event and is familiar with
            both website and event.
          </p>
        </Trans>
      </TextImage>
      <TextImage
        title={t("shockwave.prototyping.taskFlowWireframes.alex.title")}
        src={taskflow3}
        alt="Taskflow - new user"
        reverse={true}
      >
        <Trans i18nKey={"shockwave.prototyping.taskFlowWireframes.alex.text1"}>
          <ol>
            <li>
              Alex first arrives at ‘Home’ page. ‘Hero’ sections provides fast
              overview of date and place of event.
            </li>
            <li>
              Since Alex is new user and is not familiar with event, he first
              seeks knowledge about the event, therefore Alex clicks on ‘About’
              in the navigation bar to visit page which provides overview of
              event.
            </li>
          </ol>
        </Trans>
      </TextImage>
      <TextImage
        title=""
        src={taskflow4}
        alt="Taskflow - new user continued"
        reverse={true}
      >
        <Trans i18nKey={"shockwave.prototyping.taskFlowWireframes.alex.text2"}>
          <ol start="3">
            <li>
              As a new user Alex wants to read about values, history and most
              importantly experiences of former visitors. Alex also might have
              desire to see who performed previous years. All these information
              help Alex gain trust in the event and become comfortable enough to
              seek information about the lineup.
            </li>
            <li>
              After clicking on the button under the archive of previous
              artists, Alex is redirected to ‘Artists’ page.
            </li>
          </ol>
        </Trans>
      </TextImage>
      <TextImage title="" src={taskflow5} alt="ME!" reverse={true}>
        <Trans i18nKey={"shockwave.prototyping.taskFlowWireframes.alex.text3"}>
          <ol start="5">
            <li>
              Here is where Alex might meet the behaviour of Lisa as he searches
              for his desired artists.
            </li>
            <li>
              After clicking on the selected artist, Alex opens the overlay
              which provides more and detailed information, such as bio, photos,
              and performance schedule. Can also listen to a song or visit the
              artist's socials.
            </li>
            <li>
              Next crucial step for Alex is choice of suitable day or days when
              he wants to attend event, detailed schedule is therefore helpful
              tool to speed up the process.
            </li>
            <li>
              Once Alex selects a ticket which caught most of his interest, Alex
              is directed to a specific ticket page where he can securely enter
              payment and contact information to purchase a ticket.
            </li>
          </ol>
        </Trans>
      </TextImage>
      <TextImage
        title=""
        src={taskflow6}
        alt="Taskflow - new user continued"
        reverse={true}
      >
        <Trans i18nKey={"shockwave.prototyping.taskFlowWireframes.alex.text4"}>
          <ol start="9">
            <li>
              Here can Alex see all the detail of selected ticket offer together
              with option to switch to another ticket offer if desired.
            </li>
            <li>
              Finally as a last step, Alex moves to the "Info" page to view
              important information such as transportation and rules.
            </li>
          </ol>
        </Trans>
      </TextImage>
    </div>
    <article class="prose lg:prose-xl max-w-none">
      <header><h2>{t("cases.responsiveWireframes")}</h2></header>
      <h3>{t("shockwave.prototyping.responsiveWireframes.subTitle")}</h3>
      <p>{t("shockwave.prototyping.responsiveWireframes.text")}</p>
      <Image
        src={reponsive_wireframes}
        alt="Responsive wireframes for Shockwave website"
      />
    </article>
    <article class="prose lg:prose-xl max-w-none">
      <header><h2>{t("cases.finalLowFidelity")}</h2></header>
      <h3>{t("shockwave.prototyping.finalLowFidelity.subTitle")}</h3>
      <p>{t("shockwave.prototyping.responsiveWireframes.text")}</p>
      <Image
        src={lofi_final}
        alt="Final low fidelity prototypes for Shockwave website"
      />
    </article>
  </section>
  <section class="container">
    <header class="mt-14">
      <h2 class="text-xl md:text-2xl lg:text-5xl font-bold text-secondary-400">
        {t("cases.design")}
      </h2>
    </header>
    <article class="prose lg:prose-xl max-w-none">
      <header><h2>{t("cases.introduction")}</h2></header>
      <p>{t("shockwave.design.introductionText")}</p>

      <h3>{t("shockwave.design.goalsHeading")}</h3>
      <ul class="list-disc">
        <Trans i18nKey={"shockwave.design.goals"}>
          <li>To create an engaging and user-friendly experience</li>
          <li>
            To effectively communicate important information about the festival
            (lineup, schedule, ticket info)
          </li>
          <li>To provide a seamless and intuitive navigation</li>
          <li>
            To optimize the website for different devices and platforms to
            ensure a consistent experience for all users.
          </li>
        </Trans>
      </ul>
    </article>
    <article class="prose lg:prose-xl max-w-none">
      <header><h2>{t("cases.designSystem")}</h2></header>
      <h3>{t("shockwave.design.designSystem.subTitle")}</h3>
      <p>{t("shockwave.design.designSystem.text")}</p>
      <Image src={design_system} alt="Design system" />
    </article>
    <article class="prose lg:prose-xl max-w-none">
      <header><h2>{t("cases.finalResponsivePrototype")}</h2></header>
      <h3>{t("shockwave.design.finalResponsivePrototype.subTitle")}</h3>
      <p>
        {t("shockwave.design.finalResponsivePrototype.text")}
        <Image src={final_mockup} alt="Final Mockup of Shockwave" />
      </p>
    </article>
  </section>
  <section class="container">
    <header class="mt-14">
      <h2 class="text-xl md:text-2xl lg:text-5xl font-bold text-secondary-400">
        {t("cases.conclusion")}
      </h2>
    </header>
    <article class="prose lg:prose-xl max-w-none">
      <header><h2>{t("shockwave.conclusion.title")}</h2></header>
      <h3>{t("shockwave.conclusion.subTitle")}</h3>
      <p>{t("shockwave.conclusion.text")}</p>
    </article>
  </section>
</Master>
