---
import { Trans } from "astro-i18next/components";
import { t, changeLanguage } from "i18next";
import Master from "../layouts/Master.astro";
import Aboutme1 from "../assets/Aboutme1.png";
import Aboutme2 from "../assets/Aboutme2.png";
import TextImage from "../components/TextImage.astro";
import Skill from "../components/Skill.astro";
import SkillCard from "../components/SkillCard.astro";
import Experience from "../components/Experience.astro";

changeLanguage("en");

const title = t("about.title");
const description = t("about.description");
const image = {
    url: "/assets/ogaboutpage.png",
    alt: t("about.hero"),
};
---

<Master title={title} description={description} image={image}>
  <main class="flex flex-col gap-12 lg:gap-24 overflow-hidden">
    <header class="h-80vh grid place-items-center">
      <div class="container relative">
        <p
          class="text-primary-400 font-serif text-xl md:text-2xl lg:text-5xl mb-4 uppercase"
        >
          {t("about.heroTitle")}<span>🍫</span>
        </p>
        <h1 class="text-5xl md:text-7xl">
          <Trans i18nKey="about.hero">
            Your book-loving and weight-lifting designer, with a <strong
              class="text-primary-400">global mindset</strong
            >
            that shines through in design.
          </Trans>
        </h1>
        <footer class="block mt-6">
          <a
            href="/assets/KristinaLinhartova_resume.pdf"
            download
            class="btn block w-fit">{t("about.downloadResume")}</a
          >
        </footer>
        <img
          alt=""
          src="/assets/hero1.svg"
          class="absolute -left-[20%] md:-left-[5%] top-1/3 lg:top-1/4 lg:-left-5 -z-10 scale-50 md:scale-75 lg:scale-100"
        />
        <img
          alt=""
          src="/assets/hero2.svg"
          class="absolute top-1/2 -right-1/4 lg:-top-[135%] lg:-right-[5%] -z-10 scale-50 md:scale-75 lg:scale-100"
        />
        <img
          alt=""
          src="/assets/hero3.svg"
          class="absolute -top-1/3 right-0 lg:top-full md:left-2/3 -z-10 scale-[0.25] md:scale-75 lg:scale-100"
        />
        <img
          alt=""
          src="/assets/hero4.svg"
          class="absolute top-[15%] lg:-bottom-full -right-1/4 md:-right-[20%] -z-10 scale-50 md:scale-75 lg:scale-100"
        />
      </div>
    </header>
    <!-- aboutMe -->
    <section class="container">
      <header class="mb-4">
        <h2
          class="text-xl md:text-2xl lg:text-5xl font-bold text-secondary-400"
        >
          {t("about.aboutMe.preTitle")}
        </h2>
      </header>
      <div class="flex flex-col gap-6 lg:gap-12">
        <TextImage
          title={t("about.aboutMe.passionTitle")}
          src={Aboutme1}
          alt="ME!"
        >
          <p>
            {t("about.aboutMe.passionText")}
          </p>
        </TextImage>
        <TextImage
          title={t("about.aboutMe.buildingTitle")}
          src={Aboutme2}
          alt="ME!"
          reverse={true}
        >
          <p>
            {t("about.aboutMe.buildingText")}
          </p>
        </TextImage>
      </div>
    </section>
    <!-- Skills -->
    <section class="container">
      <header class="max-w-none lg:max-w-screen-md mx-auto mb-4">
        <h2 class="text-5xl font-bold text-secondary-400">
          {t("about.aboutMe.skills.preTitle")}
        </h2>
      </header>
      <article class="max-w-none lg:max-w-screen-md mx-auto">
        <header>
          <h2 class="font-bold text-4xl">
            {t("about.aboutMe.skills.skillsTitle")}
          </h2>
        </header>
        <Skill
          title={t("about.aboutMe.skills.resourcefulnessTitle")}
          text={t("about.aboutMe.skills.resourcefulnessText")}
        />
        <Skill
          title={t("about.aboutMe.skills.attentionToDetailTitle")}
          text={t("about.aboutMe.skills.attentionToDetailText")}
        />
        <Skill
          title={t("about.aboutMe.skills.timeManagentTitle")}
          text={t("about.aboutMe.skills.timeManagementText")}
        />
        <Skill
          title={t("about.aboutMe.skills.resilienceTitle")}
          text={t("about.aboutMe.skills.resilienceText")}
        />
      </article>
      <article class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-6 lg:mt-12">
        <SkillCard
          title={t("about.aboutMe.skills.researchTitle")}
          text={t("about.aboutMe.skills.researchText")}
          skills={t("about.aboutMe.skills.researchKeyWords")}
        />
        <SkillCard
          title={t("about.aboutMe.skills.prototypingTitle")}
          text={t("about.aboutMe.skills.prototypingText")}
          skills={t("about.aboutMe.skills.prototypingKeyWords")}
        />
        <SkillCard
          title={t("about.aboutMe.skills.designTitle")}
          text={t("about.aboutMe.skills.designText")}
          skills={t("about.aboutMe.skills.designKeyWords")}
        />
      </article>
    </section>
    <!-- Experience -->
    <section class="container">
      <header class="max-w-none lg:max-w-screen-md mx-auto mb-4">
        <h2
          class="text-xl md:text-2xl lg:text-5xl font-bold text-secondary-400"
        >
          {t("about.aboutMe.experience.preTitle")}
        </h2>
      </header>
      <article class="max-w-none lg:max-w-screen-md mx-auto">
        <header>
          <h2 class="font-bold text-4xl">
            {t("about.aboutMe.experience.skillsTitle")}
          </h2>
        </header>

        <Experience
          job={t("about.aboutMe.experience.webKonceptJob")}
          company="Web-Koncept"
          points={[t("about.aboutMe.experience.webKonceptPoint1")]}
          tools={t("about.aboutMe.experience.webKonceptKeyWords")}
        />

        <Experience
          job={t("about.aboutMe.experience.rcaJob")}
          company="Resource Center"
          points={[
            t("about.aboutMe.experience.rcaPoint1"),
            t("about.aboutMe.experience.rcaPoint2"),
          ]}
          tools={t("about.aboutMe.experience.rcaKeyWords")}
        />

        <Experience
          job={t("about.aboutMe.experience.internetZoosJob")}
          company="InternetZoo"
          points={[
            t("about.aboutMe.experience.internetZooPoint1"),
            t("about.aboutMe.experience.internetZooPoint2"),
            t("about.aboutMe.experience.internetZooPoint3"),
          ]}
          tools={t("about.aboutMe.experience.internetZooKeyWords")}
        />

        <Experience
          job={t("about.aboutMe.experience.straxSkilteJob")}
          company="StraxSkilte"
          points={[
            t("about.aboutMe.experience.straxSkiltePoint1"),
            t("about.aboutMe.experience.straxSkiltePoint2"),
            t("about.aboutMe.experience.straxSkiltePoint3"),
          ]}
          tools={t("about.aboutMe.experience.straxSkilteoKeyWords")}
        />

        <Experience
          job={t("about.aboutMe.experience.televinduJob")}
          company="Televindu"
          points={[
            t("about.aboutMe.experience.televinduPoint1"),
            t("about.aboutMe.experience.televinduPoint2"),
          ]}
          tools={t("about.aboutMe.experience.televinduKeyWords")}
        />

        <Experience
          job={t("about.aboutMe.experience.museumJob")}
          company="Museum of Janko Kral (Slovakia)"
          points={[
            t("about.aboutMe.experience.museumPoint1"),
            t("about.aboutMe.experience.museumPoint2"),
            t("about.aboutMe.experience.museumPoint3"),
          ]}
          tools={t("about.aboutMe.experience.museumKeyWords")}
        />

        <Experience
          job={t("about.aboutMe.experience.faxCopyJob")}
          company="FaxCopy (Slovakia)"
          points={[
            t("about.aboutMe.experience.faxCopyPoint1"),
            t("about.aboutMe.experience.faxCopyPoint2"),
          ]}
          tools={t("about.aboutMe.experience.faxCopyKeyWords")}
        />

        <Experience
          job={t("about.aboutMe.experience.reproJob")}
          company="ReproServis Kovac (Slovakia)"
          points={[
            t("about.aboutMe.experience.reproPoint1"),
            t("about.aboutMe.experience.reproPoint2"),
            t("about.aboutMe.experience.reproPoint3"),
          ]}
          tools={t("about.aboutMe.experience.reproKeyWords")}
        />
      </article>
    </section>
    <!-- Education -->
    <section class="container">
      <header class="max-w-none lg:max-w-screen-md mx-auto mb-4">
        <h2
          class="text-xl md:text-2xl lg:text-5xl font-bold text-secondary-400"
        >
          {t("about.aboutMe.education.preTitle")}
        </h2>
      </header>
      <article class="max-w-none lg:max-w-screen-md mx-auto">
        <Experience
          job={t("about.aboutMe.education.ucnEducation")}
          company="UCN"
          points={[
            t("about.aboutMe.education.ucnPoint1"),
            t("about.aboutMe.education.ucnPoint2"),
            t("about.aboutMe.education.ucnPoint2"),
          ]}
          tools={t("about.aboutMe.education.ucnKeyWords")}
        />
      </article>
      <article class="max-w-none lg:max-w-screen-md mx-auto">
        <Experience
          job={t("about.aboutMe.education.halmEducation")}
          company="Hotel Academy (Slovakia)"
          points={[
            t("about.aboutMe.education.halmPoint1"),
            t("about.aboutMe.education.halmPoint2"),
            t("about.aboutMe.education.halmPoint3"),
          ]}
          tools={t("about.aboutMe.education.halmKeyWords")}
        />
      </article>
    </section>
  </main>
</Master>
