---
import Master from "../layouts/Master.astro";
import skumfidus from "../assets/skumfidus.jpg";
import TextImage from "../components/TextImage.astro";
import Skill from "../components/Skill.astro";
import SkillCard from "../components/SkillCard.astro";
import Experience from "../components/Experience.astro";

const title = "About";
const description = "This is the about page";
const image = {
  url: "/",
  alt: "Default",
};
---

<Master title={title} description={description} image={image}>
  <main class="flex flex-col gap-12 lg:gap-24">
    <header class="h-80vh grid place-items-center">
      <div class="container">
        <p
          class="text-primary-400 font-serif text-xl md:text-2xl lg:text-5xl mb-4 uppercase"
        >
          Get to know me <span class="">🍫</span>
        </p>
        <h1 class="text-3xl sm:text-5xl md:text-7xl">
          Your book-loving and weight-lifting designer, with a global mindset
          that shines through in design.
        </h1>
      </div>
    </header>
    <section class="container grid grid-cols-12">
      <header class="section-header">
        <h2
          class="uppercase font-serif text-sm sm:text-xl md:text-3xl lg:text-5xl xl:text-7xl text-gray2/30"
        >
          About me
        </h2>
      </header>
      <div class="flex flex-col gap-6 lg:gap-12 col-span-10">
        <TextImage title="A passion uncovered" src={skumfidus} alt="ME!">
          <p>
            My journey started in 2017 with my first lecture about graphic
            design in a Slovak high school. This continued through my studies of
            Design, Technology, and Business at UCN, where I also worked as a
            graphic designer for a printing house. These valuable experiences in
            the graphic design field led me to the realization that my true
            passion lies within UI design.
          </p>
        </TextImage>
        <TextImage
          title="A passion uncovered"
          src={skumfidus}
          alt="ME!"
          reverse={true}
        >
          <p>
            My journey started in 2017 with my first lecture about graphic
            design in a Slovak high school. This continued through my studies of
            Design, Technology, and Business at UCN, where I also worked as a
            graphic designer for a printing house. These valuable experiences in
            the graphic design field led me to the realization that my true
            passion lies within UI design.
          </p>
        </TextImage>
      </div>
    </section>
    <section class="container grid grid-cols-12">
      <header class="section-header">
        <h2
          class="uppercase font-serif text-sm sm:text-xl md:text-3xl lg:text-5xl xl:text-7xl text-gray2/30"
        >
          About me
        </h2>
      </header>
      <div class="col-span-10">
        <div class="max-w-none lg:max-w-screen-md mx-auto">
          <header>
            <h2 class="font-bold text-4xl">My competencies and traits</h2>
          </header>
          <Skill
            title="Soft skill: Resourcefulness"
            text={`The ability to find ways around obstacles and limitations is crucial
            when working in a field with constantly changing clients, developing
            trends, and technological innovations. I consider myself a person
            who thrives in a fast-paced environment and enjoys working with
            like-minded individuals who support each other in solving complex
            design problems while meeting deadlines.`}
          />
          <Skill
            title="Soft skill: Resourcefulness"
            text={`The ability to find ways around obstacles and limitations is crucial
            when working in a field with constantly changing clients, developing
            trends, and technological innovations. I consider myself a person
            who thrives in a fast-paced environment and enjoys working with
            like-minded individuals who support each other in solving complex
            design problems while meeting deadlines.`}
          />
          <Skill
            title="Soft skill: Resourcefulness"
            text={`The ability to find ways around obstacles and limitations is crucial
            when working in a field with constantly changing clients, developing
            trends, and technological innovations. I consider myself a person
            who thrives in a fast-paced environment and enjoys working with
            like-minded individuals who support each other in solving complex
            design problems while meeting deadlines.`}
          />
          <Skill
            title="Soft skill: Resourcefulness"
            text={`The ability to find ways around obstacles and limitations is crucial
            when working in a field with constantly changing clients, developing
            trends, and technological innovations. I consider myself a person
            who thrives in a fast-paced environment and enjoys working with
            like-minded individuals who support each other in solving complex
            design problems while meeting deadlines.`}
          />
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-6 lg:mt-12">
          <SkillCard
            title="Research"
            text={`Lobortis blandit maecenas imperdiet nunc luctus nibh tempor phasellus ac. Sit tincidunt ut viverra sed. Vestibulum sit tortor rhoncus sit montes congue. Sit senectus dignissim amet amet.`}
            skills={[
              "User flow",
              "User personas",
              "Competitors analysis",
              "Information architecture",
            ]}
          />
          <SkillCard
            title="Research"
            text={`Lobortis blandit maecenas imperdiet nunc luctus nibh tempor phasellus ac. Sit tincidunt ut viverra sed. Vestibulum sit tortor rhoncus sit montes congue. Sit senectus dignissim amet amet.`}
            skills={[
              "User flow",
              "User personas",
              "Competitors analysis",
              "Information architecture",
            ]}
          />
          <SkillCard
            title="Research"
            text={`Lobortis blandit maecenas imperdiet nunc luctus nibh tempor phasellus ac. Sit tincidunt ut viverra sed. Vestibulum sit tortor rhoncus sit montes congue. Sit senectus dignissim amet amet.`}
            skills={[
              "User flow",
              "User personas",
              "Competitors analysis",
              "Information architecture",
            ]}
          />
        </div>
      </div>
    </section>
    <section class="container grid grid-cols-12">
      <header class="section-header">
        <h2
          class="uppercase font-serif text-sm sm:text-xl md:text-3xl lg:text-5xl xl:text-7xl text-gray2/30"
        >
          About me
        </h2>
      </header>
      <div class="max-w-none lg:max-w-screen-md mx-auto col-span-10">
        <Experience
          job="WEB DESIGNER"
          company="InternetZoo"
          points={[
            "Front-end and building of websites using CMS",
            "Setting up new and redesigning old campaigns in company’s CMS",
            "SoMe materials for existing and upcoming campaigns",
          ]}
          tools={[
            "HTML",
            "CSS",
            "Photoshop",
            "Figma",
            "InDesign",
            "Jira",
            "CMS",
          ]}
        />
        <Experience
          job="GRAPHIC DESIGNER"
          company="Museum of Janko Kral (Slovakia)"
          points={[
            "Creating printed material for each exhibition, for visitors who chose not-guided tour",
            "Visual side of exhibitions - print on walls or as a background of each display",
            "Promotional materials for handouts at various location to spread awareness about museum",
          ]}
          tools={[
            "HTML",
            "CSS",
            "Photoshop",
            "Figma",
            "InDesign",
            "Jira",
            "CMS",
          ]}
        />
        <Experience
          job="WEB DESIGNER"
          company="InternetZoo"
          points={[
            "Front-end and building of websites using CMS",
            "Setting up new and redesigning old campaigns in company’s CMS",
            "SoMe materials for existing and upcoming campaigns",
          ]}
          tools={[
            "HTML",
            "CSS",
            "Photoshop",
            "Figma",
            "InDesign",
            "Jira",
            "CMS",
          ]}
        />
        <Experience
          job="GRAPHIC DESIGNER"
          company="Museum of Janko Kral (Slovakia)"
          points={[
            "Creating printed material for each exhibition, for visitors who chose not-guided tour",
            "Visual side of exhibitions - print on walls or as a background of each display",
            "Promotional materials for handouts at various location to spread awareness about museum",
          ]}
          tools={[
            "HTML",
            "CSS",
            "Photoshop",
            "Figma",
            "InDesign",
            "Jira",
            "CMS",
          ]}
        />
        <footer class="block">
          <a href="/resume.pdf" download class="btn">Download Resume</a>
        </footer>
      </div>
    </section>
  </main>
</Master>
