---
import Master from "../layouts/Master.astro";

import skumfidus from "../assets/skumfidus.jpg";
import Aboutme1 from "../assets/Aboutme1.png";
import Aboutme2 from "../assets/Aboutme2.png";

import TextImage from "../components/TextImage.astro";
import Skill from "../components/Skill.astro";
import SkillCard from "../components/SkillCard.astro";
import Experience from "../components/Experience.astro";

const title = "About";
const description = "This is the about page";
const image = {
  url: "/",
  alt: "Default",
};
---

<Master title={title} description={description} image={image}>
  <main class="flex flex-col gap-12 lg:gap-24">
    <header class="h-80vh grid place-items-center overflow-hidden">
      <div class="container relative">
        <p
          class="text-primary-400 font-serif text-xl md:text-2xl lg:text-5xl mb-4 uppercase"
        >
          Get to know me <span class="">🍫</span>
        </p>
        <h1 class="text-5xl md:text-7xl">
          Your book-loving and weight-lifting designer, with a <strong
            class="text-primary-400">global mindset</strong
          >
          that shines through in design.
        </h1>
        <img
          alt=""
          src="/assets/hero1.svg"
          class="absolute -left-[20%] md:-left-[5%] top-1/3 lg:top-1/4 lg:-left-5 -z-10 scale-50 md:scale-75 lg:scale-100"
        />
        <img
          alt=""
          src="/assets/hero2.svg"
          class="absolute top-1/2 -right-1/4 lg:-top-[135%] lg:-right-[5%] -z-10 scale-50 md:scale-75 lg:scale-100"
        />
        <img
          alt=""
          src="/assets/hero3.svg"
          class="absolute -top-1/3 right-0 lg:top-full md:left-2/3 -z-10 scale-[0.25] md:scale-75 lg:scale-100"
        />
        <img
          alt=""
          src="/assets/hero4.svg"
          class="absolute top-[15%] lg:-bottom-full -right-1/4 md:-right-[20%] -z-10 scale-50 md:scale-75 lg:scale-100"
        />
      </div>
    </header>
    <section class="container">
      <header class="section-header">
        <h2 class="vert-header">About me</h2>
      </header>
      <div class="flex flex-col gap-6 lg:gap-12">
        <TextImage title="A passion uncovered" src={Aboutme1} alt="ME!">
          <p>
            My journey started in 2017 with my first lecture on graphic design
            at a Slovak high school, continued through my studies of Design,
            Technology, and Business at UCN. During this time, I also worked as
            a graphic designer for a printing house, which was a priceless
            opportunity, that allowed me to put my fresh theoretical knowledge
            under the test in the real life. Despite my deep passion for printed
            media, these valuable experiences in the graphic design field led me
            to realization that my true passion lies within UI design
          </p>
        </TextImage>
        <TextImage
          title="Building my UI skills one course and cake at a time"
          src={Aboutme2}
          alt="ME!"
          reverse={true}
        >
          <p>
            My education and experience as a graphic designer have provided me a
            solid foundation, especially in color theory, fonts, visual
            hierarchy, composition, and layouts. In the past few months, I have
            expanded my knowledge of UI rules and principles through online
            courses and by applying theoretical knowledge to personal projects.
            During my free time, you can find me reading a book, baking
            delicious cakes, or trying to beat my personal records at the gym.
          </p>
        </TextImage>
      </div>
    </section>
    <section class="container">
      <header class="section-header">
        <h2 class="vert-header">Skills</h2>
      </header>
      <div>
        <div class="max-w-none lg:max-w-screen-md mx-auto">
          <header>
            <h2 class="font-bold text-4xl">My competencies and traits</h2>
          </header>
          <Skill
            title="Soft skill: Resourcefulness"
            text={`The ability to find ways around obstacles and limitations is crucial when working in a field with constantly changing clients, developing trends, and technological innovations. I consider myself a person who thrives in a fast-paced environment and enjoys working with like-minded individuals who support each other in solving complex design problems while meeting deadlines.`}
          />
          <Skill
            title="Soft skill: Attention to detail"
            text={`To me, attention to detail means ensuring consistency throughout the interface, from the placement of buttons and icons to the spacing between text and images. This requires taking into account the user's needs and preferences, such as ensuring that the font size and color contrast make the content easy to read. Attention to detail is a crucial aspect of UI design, as  it can make the difference between a good design and a great one.`}
          />
          <Skill
            title="Soft skill: Resourcefulness"
            text={`I consider time management to be a core aspect of the design process. It helps me prioritize tasks, stay focused and on top of my schedule. A well-structured plan ensures that I can deliver high-quality work in a timely manner, manage multiple projects, and collaborate effectively with others.`}
          />
          <Skill
            title="Soft skill: Resilience"
            text={`As a resilient individual, I am able to remain optimistic and focused even in the face of significant challenges. This personal trait is valuable on both personal and professional levels. It helps me cope with stress, prevent burnout, and maintain healthy habits. Additionally, it helps me bounce back from professional setbacks and potential failures with a positive outlook on the situation.`}
          />
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-6 lg:mt-12">
          <SkillCard
            title="Research"
            text={`As a UI designer with a focus on user-centered design, I possess a range of hard skills that enable me to conduct comprehensive research and analysis to create intuitive and engaging user experiences. My expertise in user flows, user personas, competitors analysis, and information architecture allows me to gather valuable insights into user behavior and preferences, identify pain points and opportunities for improvement, and develop effective design solutions that meet user needs and achieve business goals.
              `}
            skills={[
              "User flow",
              "User personas",
              "Competitors analysis",
              "Information architecture",
            ]}
          />
          <SkillCard
            title="Prototype"
            text={`My expertise in wireframing allows me to rapidly and efficiently create low-fidelity mockups of user interfaces. Furthermore, my knowledge of design systems empowers me to develop consistent and cohesive designs across an entire product or platform. Lastly, my experience with interaction design equips me to create intuitive and engaging user experiences through the use of animations, micro-interactions, and other forms of feedback.`}
            skills={["Wireframing", "Design systems", "Interaction design"]}
          />
          <SkillCard
            title="Design"
            text={`I am constantly learning and exploring new techniques and tools such as Figma and Adobe Suite to improve my skills. Typography is one of my favorite aspects of design, as it enables me to communicate the brand message effectively. I also strive to use color psychology and theory to create a harmonious color scheme that enhances the user experience. By using these design elements, I aim to create an effective interface that meets the needs of my users.`}
            skills={[
              "Figma",
              "Adobe Suite",
              "Typography",
              "Colour psychology",
              "Colour theory",
            ]}
          />
        </div>
      </div>
    </section>
    <section class="container">
      <header class="section-header">
        <h2 class="vert-header">Experience</h2>
      </header>
      <div class="max-w-none lg:max-w-screen-md mx-auto">
        <header>
          <h2 class="font-bold text-4xl">Working experience</h2>
        </header>
        <Experience
          job="WEB DESIGNER"
          company="InternetZoo"
          points={[
            "Front-end and building of websites using CMS",
            "Setting up new and redesigning old campaigns in company’s CMS",
            "SoMe materials for existing and upcoming campaigns",
          ]}
          tools={[
            "HTML",
            "CSS",
            "Photoshop",
            "Figma",
            "InDesign",
            "Jira",
            "CMS",
          ]}
        />
        <Experience
          job="GRAPHIC DESIGNER"
          company="StraxSkilte (Denmark)"
          points={[
            "Menu cards for number of restaurant in North Jutland",
            "Promotional materials for various businesses and purposes",
            "Creating and recreating visual identities for different types of businesses",
          ]}
          tools={["InDesign", "Illustrator", "Photoshop", "Printers"]}
        />
        <Experience
          job="GRAPHIC DESIGNER"
          company="Museum of Janko Kral (Slovakia)"
          points={[
            "Creating printed material for each exhibition, for visitors who chose not-guided tour",
            "Visual side of exhibitions - print on walls or as a background of each display",
            "Promotional materials for handouts at various location to spread awareness about museum",
          ]}
          tools={["InDesign", "Illustrator", "Photoshop", "Printers"]}
        />
        <Experience
          job="GRAPHIC DESIGNER"
          company="ReproServis Kovac (Slovakia)"
          points={[
            "Posters, business cards, outdoor displays, magazines etc",
            "Contact with customers as they fill the order",
            "Finalising the orders using plotters, lasers or unconventional sized printers",
          ]}
          tools={[
            "InDesign",
            "Illustrator",
            "Photoshop",
            "Printers",
            "Plotters",
            "Lasers",
          ]}
        />
        <footer class="block">
          <a href="/assets/CV.pdf" download class="btn">Download Resume</a>
        </footer>
      </div>
    </section>
  </main>
</Master>
