---
import ProjectCard from "../components/ProjectCard.astro";
import Master from "../layouts/Master.astro";

import Shockwave from "../assets/Shockwavepreview.png";
import Shapespace from "../assets/architecturepreview-croped.png";

const title = "Home";
const description =
  "Hello and welcome to my portfolio! My name is Kristina and I am a junior UI designer with a background in graphic design. Whether I'm creating intuitive interfaces or pushing my limits at the gym, I approach everything I do with passion and dedication. This portfolio showcases my skills and vision as a UI designer, and I'm excited to share it with you.";
const image = {
  url: "/assets/oghomepage.png",
  alt: "I’m Kristina, a fresh ui designer, designing the web, one pixel at a time",
};
---

<Master title={title} description={description} image={image}>
  <main class="overflow-hidden">
    <header class="h-80vh grid place-items-center">
      <div class="container relative">
        <p
          class="text-primary-400 font-serif text-xl md:text-2xl lg:text-5xl mb-4 uppercase"
        >
          Hello <span class="">👋</span>
        </p>
        <h1 class="text-5xl md:text-7xl">
          I’m Kristina, a fresh <strong class="text-primary-400"
            >ui designer</strong
          >, designing the web, one pixel at a time
        </h1>
        <img
          alt=""
          src="/assets/hero1.svg"
          class="absolute -left-[20%] md:-left-[5%] top-1/3 lg:top-1/4 lg:-left-5 -z-10 scale-50 md:scale-75 lg:scale-100"
        />
        <img
          alt=""
          src="/assets/hero2.svg"
          class="absolute top-1/2 -right-1/4 lg:-top-[135%] lg:-right-[5%] -z-10 scale-50 md:scale-75 lg:scale-100"
        />
        <img
          alt=""
          src="/assets/hero3.svg"
          class="absolute -top-1/3 right-0 lg:top-full md:left-2/3 -z-10 scale-[0.25] md:scale-75 lg:scale-100"
        />
        <img
          alt=""
          src="/assets/hero4.svg"
          class="absolute top-[15%] lg:-bottom-full -right-1/4 md:-right-[20%] -z-10 scale-50 md:scale-75 lg:scale-100"
        />
      </div>
    </header>
    <section class="container">
      <header class="mb-4">
        <h2
          class="text-xl md:text-2xl lg:text-5xl font-bold text-secondary-400"
        >
          Projects
        </h2>
      </header>
      <div class="flex flex-col gap-6 lg:gap-12 col-span-10">
        <ProjectCard
          pretitle="ShockWave"
          title="festival website design"
          text="Inspired by world-know festivals. My take features a modern design, with bold colour that captures the energetic and dynamic spirit of the event."
          src={Shockwave}
          color="#5B21B6"
          link="/shockwave"
        />
        <ProjectCard
          pretitle="ShapeSpace"
          title="architecture blog design  "
          text="The blog's gray color scheme evokes a sense of sophistication and professionalism, while its well-crafted content is easy to navigate."
          src={Shapespace}
          color="#342B2B"
          link="/shapespace"
        />
      </div>
    </section>
  </main>
</Master>
